<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Tarea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="py-4">
    <div class="container">
        <h1>Eliminar Tarea</h1>
        <p class="my-3">¿Estás seguro de que deseas eliminar la tarea "{{ task.title }}"?</p>
        <form method="post" class="my-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'list_tasks' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
