<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong> - {{ task.email }} - {{ task.description }}
                <a href="{% url 'update_task' task.id %}">Editar</a>
                <a href="{% url 'delete_task' task.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_task' %}">Crear Tarea</a>
</body>
</html>
